<button mat-icon-button style="float: right; margin: 6px">
  <mat-icon>close</mat-icon>
</button>

<mat-dialog-content>
  <header><h1>Use Me</h1></header>
  <p>
    <mat-form-field>
      <input matInput placeholder="Name" />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <input matInput placeholder="Email" />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <input matInput placeholder="TextArea" />
    </mat-form-field>
  </p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary">Save</button>
  <button mat-raised-button color="primary">Cancel</button>
</mat-dialog-actions>
